.variant-1-bg-color{
    background: linear-gradient(90deg, #662ba0, #7710da);
}
.variant-1-fg-color{
    background: #4a1281;
}

.variant-2-bg-color{
    background: linear-gradient(90deg, #1e87e3, #1b52ce);
}
.variant-2-fg-color{
    background: #1b52ce;
}

.variant-3-bg-color{
    background: linear-gradient(90deg, #ffffff, #f8eda3);
}
.variant-3-fg-color{
    background: #faea7f;
}