*{
    font-family: Roboto, sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.bg-color-1{
    background: #ecf0f4;
}
.bg-color-1-gradient{
    background: linear-gradient(90deg, #f2f4f6, #ecf0f4);
}
.bg-color-2{
    background: #fdfdfd;
}
.hover-bg-color-1:hover{
    background: #ecf0f4;
}

.text-color-1{
    color: #662ba0 !important;
}

.text-very-small{
    font-size: 0.8rem;
}

.btn-color-1{
    background: #8458b2 !important;
    border-color: #8458b2 !important;
    color: white;
}
.btn-color-1:hover{
    background: #662ba0 !important;
    border-color: #662ba0 !important;
    color: white;
}

.btn-color-2{
    background: #dadada !important;
    border-color: #dadada !important;
    color: #662ba0 !important;
}
.btn-color-2:hover{
    background: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    color: #662ba0 !important;
}

.btn-color-3{
    background: #6e8cce !important;
    border-color: #6e8cce !important;
    color: white;
}
.btn-color-3:hover{
    background: #1b52ce !important;
    border-color: #1b52ce !important;
    color: white;
}


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1b1351, #662ba0);
}