*{
    font-family: Roboto, sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif !important;
}

.roboto{
    font-family: 'Roboto', sans-serif !important;
}

.bg-color-1{
    background: #ecf0f4;
}
.bg-color-1-gradient{
    background: linear-gradient(90deg, #f2f4f6, #ecf0f4);
}
.bg-color-2{
    background: #fdfdfd;
}
.hover-bg-color-1:hover{
    background: #ecf0f4;
}

.text-color-1{
    color: #662ba0 !important;
}

.text-very-small{
    font-size: 0.8rem;
}

.btn-color-1{
    background: #8458b2 !important;
    border-color: #8458b2 !important;
    color: white;
}
.btn-color-1:hover{
    background: #662ba0 !important;
    border-color: #662ba0 !important;
    color: white;
}
.btn-color-1-light{
    background: #aa8ec7 !important;
    border-color: #aa8ec7 !important;
    color: white;
}
.btn-color-1-light:hover{
    background: #662ba0 !important;
    border-color: #662ba0 !important;
    color: white;
}

.btn-color-2{
    background: #dadada !important;
    border-color: #dadada !important;
    color: #662ba0 !important;
}
.btn-color-2:hover{
    background: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    color: #662ba0 !important;
}
.btn-color-3{
    background: #6e8cce !important;
    border-color: #6e8cce !important;
    color: white;
}
.btn-color-3:hover{
    background: #1b52ce !important;
    border-color: #1b52ce !important;
    color: white;
}
.btn-color-4{
    background: #f65050 !important;
    border-color: #f65050 !important;
    color: white;
}
.btn-color-4:hover{
    background: #ec1414 !important;
    border-color: #ec1414 !important;
    color: white;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.variant-1-bg-color{
    background: linear-gradient(90deg, #662ba0, #7710da);
}
.variant-1-fg-color{
    background: #4a1281;
}
.variant-1-bg-color{
    background: linear-gradient(90deg, #662ba0, #7710da);
}
.variant-1-fg-color{
    background: #4a1281;
}

.variant-2-bg-color{
    background: linear-gradient(90deg, #1e87e3, #1b52ce);
}
.variant-2-fg-color{
    background: #1b52ce;
}
.variant-2-bg-color{
    background: linear-gradient(90deg, #1e87e3, #1b52ce);
}
.variant-2-fg-color{
    background: #1b52ce;
}

.variant-3-bg-color{
    background: linear-gradient(90deg, #ffffff, #f8eda3);
}
.variant-3-fg-color{
    background: #faea7f;
}

.product-img{
    width: 17rem;
    height: 17rem;
}

.base-modal{
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #1b1351, #662ba0);
    color: white;
    padding: 4rem;
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1b1351, #662ba0);
}